

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

A:link {text-decoration: none; color: #86b0b0;}
A:visited {text-decoration: none; color: #86b0b0;}
A:active {text-decoration: none; color: #86b0b0;}
A:hover {text-decoration: underline; color: #00e5e5;}